<div class="banner banner-pages" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>All your <strong>Bookings</strong></h1>
    <p>Wow you are such a great user!</p>
  </div>
</div>


<div class="container my-button d-flex align-items-center">
  <button class='my-custom-button' id='btn-customer'>Customer</button>
  <button class='my-custom-button change-button' id='btn-owner'>Owner</button>
</div>

<div class='container' id='booking-sent'>
  <h2>Booking sent</h2>
  <div class="row">
    <% @bookings.each do |booking|%>
      <% booking_length = booking.end_date - booking.start_date %>
        <div class="col-md-4 align-items-stretch">
            <div class="card text-center">
            <%=cl_image_tag booking.toothbrush.photo.key, height: 300, crop: :fill%>
              <div class="card-body">
                <p class="card-text">Booking ref: <%= booking.id %></p>
                <p class="card-text card-status"> <%= booking.status%></p>
                <div class="d-flex-wrap container-card-flex card-text-bottom">
                  <p class="card-text"><span class="color-orange">Start date</span><br> <%= booking.start_date %></p>
                  <p class="card-text"><span class="color-orange">End date</span><br> <%= booking.end_date %></p>
                  <p class="card-text"><span class="color-orange">Booking lenght</span><br> <%= booking_length.to_i + 1 %> day(s)</p>
                  <p class="card-text"><span class="color-orange">Total price</span><br> <%= (booking_length.to_i + 1) * booking.toothbrush.price.to_i %> CHF</p>
                  <% if booking.status == "⤫ cancelled" %>
                    <p class='bg-light'>Your already <strong>cancelled</strong> this request.</p>
                  <% else %>
                  <%= link_to "Cancel request",cancel_bookings_path(booking), class:'btn btn-warning' %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
    <% end %>
  </div>
</div>

<div class='container hidden' id='booking-received'>
  <h2>Booking requests received</h2>
  <div class="row">
    <% @bookings_owner.each do |booking|%>
    <% booking_length = booking.end_date - booking.start_date %>
      <div class="col-md-4 align-items-stretch">
          <div class="card text-center">
          <%=cl_image_tag booking.toothbrush.photo.key, height: 300, crop: :fill%>
            <div class="card-body">
              <h3 class="card-title">Booking by: <%= booking.user.first_name %></h3>
              <p class="card-text">Booking ref: <%= booking.id %></p>
              <p class="card-text card-status"><%= booking.status %></p>
              <div class="d-flex-wrap container-card-flex card-text-bottom">
                <p class="card-text"><span class="color-orange">Start date</span><br> <%= booking.start_date %></p>
                <p class="card-text"><span class="color-orange">End date</span><br> <%= booking.end_date %></p>
                <p class="card-text"><span class="color-orange">Booking lenght</span><br> <%= booking_length.to_i + 1 %> day(s)</p>
                <p class="card-text"><span class="color-orange">Your revenue</span><br> <%= (booking_length.to_i + 1) * booking.toothbrush.price.to_i %> CHF</p>
                <% if booking.status =='⏳ pending' %>
                  <%= link_to "Accept",validate_bookings_path(booking), class:'btn btn-success' %>
                  <%= link_to "Decline",decline_bookings_path(booking), class:'btn btn-danger' %>
                <% elsif booking.status =='✔️ confirmed' %>
                  <%= link_to "Decline*",decline_bookings_path(booking), class:'btn btn-danger' %>
                <% else %>
                  <p class='bg-light'>Your already <strong>declined</strong> this request.</p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
