<div class="banner banner-pages" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>All your <strong>Bookings</strong></h1>
    <p>Wow you are such a great user!</p>
  </div>
</div>


<div class="container my-button d-flex align-items-center">
  <button class='my-custom-button' id='btn-customer'>Customer</button>
  <button class='my-custom-button change-button' id='btn-owner'>Owner</button>
</div>

<div class='container' id='booking-sent'>
  <h2>Booking sent</h2>
  <p>You will find below the list of all the renting request you sent.</p>
  <div class="column">
    <% @bookings.each do |booking|%>
      <% booking_length = booking.end_date - booking.start_date %>
      <div class="card text-center d-flex flex-row mb-2" style='height: 100%px'>
        <%=cl_image_tag booking.toothbrush.photo.key, style:" height: 100%px; width: 260px; crop:cover"%>
        <p class="card-text card-status"> <%= booking.status%></p>
        <div class="card-body d-flex-row justify-content-between">
        <h3 class="card-title">Request sent to: <%= booking.toothbrush.user.first_name %></h3>
          <p class="card-text">Booking ref: <%= booking.id %></p>
          <div class="d-flex flex-wrap">
            <p class="card-text" style="width: 50%"><span class="color-orange">Start date</span> <%= booking.start_date %></p>
            <p class="card-text" style="width: 50%"><span class="color-orange">End date</span> <%= booking.end_date %></p>
            <p class="card-text" style="width: 50%"><span class="color-orange">Booking lenght</span> <%= booking_length.to_i + 1 %> day(s)</p>
            <p class="card-text" style="width: 50%"><span class="color-orange">Total price</span> <%= (booking_length.to_i + 1) * booking.toothbrush.price.to_i %> CHF</p>
          </div>
          <% if booking.status == "⤫ cancelled" %>
              <p class='bg-light mb-0'>Your already <strong>cancelled</strong> this request.</p>
          <% else %>
            <%= link_to "Cancel request",cancel_bookings_path(booking), class:'btn btn-warning' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='container hidden' id='booking-received'>
  <h2>Booking requests received</h2>
  <p>You found customer for your toothburshes. Here is the list of all the requests you received. You can now confirm or decline them!</p>
  <div class="column">
    <% @bookings_owner.each do |booking|%>
      <% booking_length = booking.end_date - booking.start_date %>
      <div class="card text-center d-flex flex-row mb-2" style='height: auto'>
        <%=cl_image_tag booking.toothbrush.photo.key, style:" height: 100%px; width: 260px; crop:cover"%>
        <p class="card-text card-status"><%= booking.status %></p>
        <div class="card-body d-flex-row justify-content-between">
          <h3 class="card-title">Booking by: <%= booking.user.first_name %></h3>
          <p class="card-text">Booking ref: <%= booking.id %></p>
          <div class="d-flex flex-wrap">
            <p class="card-text" style="width: 50%"><span class="color-orange">Start date</span> <%= booking.start_date %></p>
            <p class="card-text" style="width: 50%"><span class="color-orange">End date</span> <%= booking.end_date %></p>
            <p class="card-text" style="width: 50%"><span class="color-orange">Booking lenght</span> <%= booking_length.to_i + 1 %> day(s)</p>
            <p class="card-text" style="width: 50%"><span class="color-orange">Your revenue</span> <%= (booking_length.to_i + 1) * booking.toothbrush.price.to_i %> CHF</p>
          </div>
          <% if booking.status =='⏳ pending' %>
            <%= link_to "Accept",validate_bookings_path(booking), class:'btn btn-success' %>
            <%= link_to "Decline",decline_bookings_path(booking), class:'btn btn-danger' %>
          <% elsif booking.status =='✔️ confirmed' %>
            <%= link_to "Decline*",decline_bookings_path(booking), class:'btn btn-danger' %>
          <% else %>
            <p class='bg-light'>Your already <strong>declined</strong> this request.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <p class="text-secondary">* declining a booking you already confirmed will generate cancelation fee</p>
</div>
