<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>All your <strong>Bookings</strong></h1>
    <p>Wow you are such a great user!</p>
  </div>
</div>

    <div class="row">
      <% @bookings.each do |booking|%>
      <% booking_length = booking.end_date - booking.start_date %>
        <div class="col-md-4 align-items-stretch">
            <div class="card text-center">
            <%=cl_image_tag booking.toothbrush.photo.key, height: 300, crop: :fill%>
              <div class="card-body">
                <h3 class="card-title">Booking id: <%= booking.id %></h5>
                <p class="card-text card-price">Price per day: <%= booking.toothbrush.price %></p>
                <div class="d-flex-wrap container-card-flex card-text-bottom">
                  <p class="card-text"><span class="color-orange">Start date</span><br> <%= booking.start_date %></p>
                  <p class="card-text"><span class="color-orange">End date</span><br> <%= booking.end_date %></p>
                  <p class="card-text"><span class="color-orange">Booking lenght</span><br> <%= booking_length.to_i %> days</p>
                  <p class="card-text"><span class="color-orange">Booking lenght</span><br> <%= booking_length.to_i * booking.toothbrush.price.to_i %> CHF</p>
                  <%= link_to "🗑 Delete",booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
