<div class="container">

  <h1>Your profile</h1>

  <div id="user-infos">
    <h3><%= @user.first_name.capitalize %> <strong><%= @user.last_name.upcase %></strong></h3>
    <p>Address: <%= @user.address %></p>
    <p>Account email: <%= @user.email %></p>
    <p>Password: ************ <%= link_to "Change your password", edit_user_registration_path %></p>
  </div>

  <div id="owned-tb-list">
    <% @toothbrushes.each do |toothbrush| %>
      <div class="col-md-10 align-items-stretch">
        <div class="card flex-row" style="overflow:hidden">
          <%=cl_image_tag toothbrush.photo.key, class:"img-fluid", style:"max-width: 35%", crop: :fill%>
          <div class="card-body d-flex flex-column">
            <div class="justify-content-between" style="display: flex">
            <h4 class=""><%= toothbrush.title %></h4>
            <button class="btn btn-primary"> <%= link_to "Modify", edit_toothbrush_path(toothbrush) %> </button>
           </div>
            <p class=""><span class="color-orange">Current price: </span> <%= toothbrush.price %> CHF/day</p>
            <p class=""><span class="color-orange">Condition: </span> <%= toothbrush.condition %></p>
            <p class=""><span class="color-orange">Brand: </span> <%= toothbrush.brand %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
