
<div class="banner banner-pages" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>Choose your <strong>toothbrush</strong></h1>
    <p>Find the right toothbrush for your teeths in the list below!</p>
  </div>
</div>

<h2>All available toothbrushes</h2>
<div class="row container-flex">
  <% @toothbrushes.each do |toothbrush|%>
    <div class="card-list" style="margin-top:20px">
      <%=cl_image_tag toothbrush.photo.key, crop: :fill%>
      <div class="card-list-infos">
        <div>
          <h2><%= toothbrush.title %></h2>
          <p><%= toothbrush.condition %></p>
          <p><%= link_to "See more", toothbrush_path(toothbrush)%></p>
        </div>
        <h2 class="card-list-pricing"><%= toothbrush.price %> CHF</h2>
         <%=cl_image_tag toothbrush.user.photo.key, class:"card-list-user avatar-bordered"%>
      </div>
    </div>
  <%end%>
</div>

<div class="container-center" style="margin:40px 0;text-align:center"><a href="/toothbrushes/new" class="btn btn-home btn-primary btn-soso">Post an add and share your toothbrush!</a></div>
