<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>Add a new<strong>toothbrush</strong></h1>
    <p>Fill the form and find someone to rent your toothbrush!</p>
  </div>
</div>
<div class='container container-new-form'>
  <div class="form-container">
    <%= simple_form_for @toothbrush do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :condition %>
      <%= f.input :brand %>
      <%= f.input :category %>
      <%= f.input :user_id %>
      <%= f.submit "Submit review", class: "btn btn-primary btn-home" %>
    <% end %>
  </div>


</div>
