<div id="facilities">
  <div class="container">
    <div class="title">
      <h1><%= @toothbrush.title %></h1>
      <p><%= @toothbrush.description %></p>
      <p>Condition: <%= @toothbrush.condition %></p>
      <p>Price: <%= @toothbrush.price %></p>
      <p>Brand: <%= @toothbrush.brand %></p>
      <p>Category: <%= @toothbrush.category %></p>
    </div>
  </div>
</div>
