<div class="container-fluid">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title"><%= @toothbrush.title %></h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="white-box text-center">
            <%=cl_image_tag @toothbrush.photo.key, height: 400, width: 400, crop: :fill %>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-6">
              <h4 class="box-title mt-2">Description</h4>
              <p><%= @toothbrush.description %></p>
              <h2 class="mt-5"><%= @toothbrush.price %> CHF</h2>
              <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                  <i class="fa fa-shopping-cart"></i>
              </button>
              <button class="btn btn-primary btn-rounded">Book now</button>
              <h3 class="box-title mt-5">More infos</h3>
              <ul class="list-unstyled">
                  <li><i class="fa fa-check text-success"></i>Condition: <%= @toothbrush.condition %></li>
                  <li><i class="fa fa-check text-success"></i>Brand: <%= @toothbrush.brand %></li>
                  <li><i class="fa fa-check text-success"></i>Category: <%= @toothbrush.category %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--For map-->
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
